<div layout="column" ng-controller="ShellController as vm">

    <md-toolbar class="md-primary" layout="row" layout-align="space-around end">
        <div class="md-toolbar-tools">

            <md-button ui-sref="home" aria-label="Menü Startseite öffnen">
                <h1 style="font-size: x-large">NKF</h1>
            </md-button>

            <!--<md-button class="menu" hide-gt-sm ng-click="vm.toggleList()" aria-label="Show Menu">-->
                <!--<md-icon md-svg-icon="menu"></md-icon>-->
            <!--</md-button>-->

            <span>
            <md-menu>
                <md-button ng-click="$mdOpenMenu()" class="md-button" aria-label="Gemeindemenü öffnen">
                    <!--<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>-->
                    Kommunen
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ui-sref="persons" aria-label="Menü Gemeindekennzahlen öffnen">
                            Gemeindekennzahlen
                        </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>

            <md-menu>
                <md-button ng-click="$mdOpenMenu()" class="md-button" aria-label="Gemeindemenü öffnen">
                    <!--<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>-->
                    Haushalte
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ui-sref="#" aria-label="Haushalt">
                            Haushaltsübersicht
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="#" aria-label="Haushalt">
                            Bilanz
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="#" aria-label="Haushalt">
                            Ergebnisrechnung
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="#" aria-label="Haushalt">
                            Finanzrechnung
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <md-button ng-click="$mdOpenMenu()" class="md-button" aria-label="Gemeindemenü öffnen">
                    <!--<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>-->
                    Daten
                </md-button>

                <md-menu-content>
                    <md-menu-item>
                        <md-button ui-sref="persontypes" aria-label="Menü Gemeindearten öffnen">
                            Begriffshierachie
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="framework" aria-label="Kontenrahmen">
                            Kontenrahmen
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="import" aria-label="Menü Haushaltsdaten importieren und exportieren.">
                            Haushaltsdaten Im- & Export
                        </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>
        </span>
        </div>
    </md-toolbar>


    <!--<div flex layout="row">-->

    <!--<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">-->
    <!--<md-list>-->
    <!--<md-item ng-repeat="it in ul.users">-->
    <!--<md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">-->
    <!--<md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>-->
    <!--{{it.name}}-->
    <!--</md-button>-->
    <!--</md-item>-->
    <!--</md-list>-->
    <!--</md-sidenav>-->

    <!--<md-content flex id="content">-->
    <!--<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>-->
    <!--<h2>{{ul.selected.name}}</h2>-->
    <!--<p>{{ul.selected.content}}</p>-->

    <!--<md-button class="share" md-no-ink ng-click="ul.share($event)" aria-label="Share">-->
    <!--<md-icon md-svg-icon="share"></md-icon>-->
    <!--</md-button>-->
    <!--</md-content>-->

    <!--</div>-->


    <!--<div flex layout="row">-->
    <!--<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"-->
    <!--md-component-id="left"-->
    <!--md-is-locked-open="$mdMedia('gt-sm')">-->

    <!--&lt;!&ndash;<header class="nav-header">&ndash;&gt;-->
    <!--&lt;!&ndash;<a ng-href="#/" class="nkf-logo">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<img src="img/icons/angular-logo.svg" alt="" />&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<h1 class="nkf-logotype md-display-1">NKF</h1>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</header>&ndash;&gt;-->

    <!--&lt;!&ndash;<ul class="skip-links">&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="md-whiteframe-z2">&ndash;&gt;-->
    <!--&lt;!&ndash;<md-button ng-click="focusMainContent($event)" href="#">Skip to content</md-button>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->

    <!--<md-content flex role="navigation">-->
    <!--<ul class="side-menu">-->
    <!--<li ng-repeat="section in vm.menu.sections" class="parent-list-item"-->
    <!--ng-class="{'parentActive' : vm.isSectionSelected(section)}">-->
    <!--<h2 class="menu-heading" ng-if="section.type === 'heading'"-->
    <!--id="heading_{{ section.name | nospace }}">-->
    <!--{{section}}-->
    <!--</h2>-->
    <!--<menu-link section="section" ng-if="section.type === 'link'"></menu-link>-->
    <!--<menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</md-content>-->
    <!--</md-sidenav>-->

    <md-content ui-view md-scroll-y flex layout-padding></md-content>

</div>
</div>
