<div layout="column" layout-margin layout-fill layout-padding>

    <md-content class="md-whiteframe-z1" layout="row" layout-align="space-between center" class="md-padding"
                layout-sm="column">
        <h1 class="md-display-1" style="margin: 0px">Haushaltsübersicht</h1>
            <span>
                <md-input-container flex style="padding: 0px">
                    <md-select class="md-display-1" style="margin: 0px; padding: 0px" placeholder="Kommune auswählen"
                               ng-model="vm.personId" md-on-close="vm.bookingsData(vm.personId)">
                        <md-option ng-repeat="person in vm.personsBooked" value="{{person.id}}">
                            {{person.person_type}} {{person.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </span>

        <span>

            <md-button class="md-raised md-primary" ng-click="vm.resetAll()" class="md-button"
                       aria-label="Grafiken zurücksetzen">
                Auswahl Zurücksetzen
            </md-button>
        </span>

    </md-content>

    <div class="container" ng-show="vm.loading">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>

    <!--<div class="md-whiteframe-z1">-->
    <!--<md-toolbar class="md-primary md-hue-3" layout="row" layout-align="space-between center">-->
    <!--<div class="md-toolbar-tools">-->

    <!--<md-button ui-sref="home" aria-label="Menü Startseite öffnen">-->
    <!--Güterebene-->
    <!--</md-button>-->
    <!--</div>-->

    <!--</md-toolbar>-->

    <!--<h2 class="md-title" style="margin: 10px 0px 0px 10px">Einzahlungen nach ...</h2>-->

    <!--<div layout="row" layout-align="space-between center" layout-padding layout-fill layout-sm="column">-->

    <!--<div layout="column" layout-align="space-between center" layout-fill>-->

    <!--<h2 class="md-title">Produktfelder</h2>-->

    <!--<div id="paymentsIn1"-->
    <!--dc-chart="rowChart"-->
    <!--dc-chart-group="1"-->
    <!--dc-dimension="vm.prod1Dimension" dc-group="vm.prodIn1SumGroup"-->
    <!--dc-options="vm.rowChartOptions"-->
    <!--dc-post-setup-chart="vm.rowChartPostSetup">-->
    <!--</div>-->

    <!--</div>-->
    <!--<div layout="column" layout-align="space-between center" layout-fill>-->
    <!--<h2 class="md-title">Produktbereiche</h2>-->

    <!--<div id="paymentsIn2"-->
    <!--dc-chart="rowChart"-->
    <!--dc-chart-group="1"-->
    <!--dc-dimension="vm.prod2Dimension" dc-group="vm.prodIn2SumGroup"-->
    <!--dc-options="vm.rowChartOptions"-->
    <!--dc-post-setup-chart="vm.rowChartPostSetup">-->
    <!--</div>-->

    <!--</div>-->
    <!--<div layout="column" layout-align="space-between center" layout-fill>-->
    <!--<h2 class="md-title">Produktgruppen</h2>-->

    <!--<div id="paymentsIn3"-->
    <!--dc-chart="rowChart"-->
    <!--dc-chart-group="1"-->
    <!--dc-dimension="vm.prod3Dimension" dc-group="vm.prodIn3SumGroup"-->
    <!--dc-options="vm.rowChartOptions"-->
    <!--dc-post-setup-chart="vm.rowChartPostSetup">-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

    <!--<h2 class="md-title" style="margin: 10px 0px 0px 10px">Auszahlungen nach ...</h2>-->

    <!--<div layout="row" layout-align="space-between center" layout-padding layout-fill layout-sm="column">-->

    <!--<div layout="column" layout-align="space-between center" layout-fill>-->

    <!--<h2 class="md-title">Produktfelder</h2>-->

    <!--<div id="paymentsOut1"-->
    <!--dc-chart="rowChart"-->
    <!--dc-chart-group="1"-->
    <!--dc-dimension="vm.prod1Dimension" dc-group="vm.prodOut1SumGroup"-->
    <!--dc-options="vm.rowChartOptions"-->
    <!--dc-post-setup-chart="vm.rowChartPostSetup">-->
    <!--</div>-->

    <!--</div>-->
    <!--<div layout="column" layout-align="space-between center" layout-fill>-->
    <!--<h2 class="md-title">Produktbereiche</h2>-->

    <!--<div id="paymentsOut2"-->
    <!--dc-chart="rowChart"-->
    <!--dc-chart-group="1"-->
    <!--dc-dimension="vm.prod2Dimension" dc-group="vm.prodOut2SumGroup"-->
    <!--dc-options="vm.rowChartOptions"-->
    <!--dc-post-setup-chart="vm.rowChartPostSetup">-->
    <!--</div>-->

    <!--</div>-->
    <!--<div layout="column" layout-align="space-between center" layout-fill>-->
    <!--<h2 class="md-title">Produktgruppen</h2>-->

    <!--<div id="paymentsOut3"-->
    <!--dc-chart="rowChart"-->
    <!--dc-chart-group="1"-->
    <!--dc-dimension="vm.prod3Dimension" dc-group="vm.prodOut3SumGroup"-->
    <!--dc-options="vm.rowChartOptions"-->
    <!--dc-post-setup-chart="vm.rowChartPostSetup">-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div ng-cloak>
        <md-content class="md-padding">
            <md-tabs md-dynamic-height md-border-bottom class="md-primary md-hue-3" md-selected="vm.selectedIndex">
                <md-tab label="Hilfe">
                    <md-content>
                        <h1 class="md-display-2">Produktebene</h1>

                        <p>Auf der Produktebene sollten die Waren und Dienstleistungen gezeigt werden, die die Kommunen
                            für
                            ihre Bürger erbringen.
                        </p>

                        <p>Leider wurde diese Vorgabe im Neuen kommunalen Finanzmanagement nicht wie erforderlich
                            umgesetzt.
                            Was im NKF Produkte oder Produktbereiche genannt wird, sind tatsächlich Kostenstellen bzw.
                            Kostenstellenbereiche. Die Umsetzung ist ungefähr so, wie wenn ein Bäcker nicht seine
                            Brötchen und sein
                            Brot Produkte nennen würde, sondern die Backstube oder den Verkaufsraum.
                        </p>

                        <p>Die Konsequenz ist, dass die Leistungen der Kommunen weder in der Kommune selbst noch
                            zwischen den
                            Kommunen verglichen werden können. Nur wenn man weiß, welches Ergebnis mit welchen Kosten
                            erziehlt
                            wurde, kann man im Vergleich mit anderen Kommunen beurteilen, ob eine Gemeinde
                            wirtschaftlich gehandelt hat.
                        </p>

                        <p>Um die Leser nicht zu verwirren, wird die irreführende Bezeichnung Produkte zunächst
                            beibehalten.
                            Zu einem späteren Zeitpunkt soll dann sowohl die tatsächliche Produktebene und die
                            Kostenstellenebene
                            gezeigt werden.
                        </p>

                        <h2 class="md-display-1">Anleitung</h2>

                        <p>Wähle Sie eine Kommune aus. Danach werden die verfügbaren Daten dargestellt. Durch einen
                            Klick
                            auf einen farbigen Balken der Produktfelder, -bereiche oder -gruppen wird die Auswahl der
                            Daten für alle
                            verbundenen Diagramme und der Tabelle entsprechend eingeschränkt. Durch einen erneuten Klick
                            wird die
                            Auswahl wieder aufgehoben</p>

                    </md-content>
                </md-tab>
                <md-tab label="Diagramme">
                    <md-content>

                        <md-toolbar class="md-primary md-hue-3" layout="row" layout-align="space-between center">
                            <div class="md-toolbar-tools">

                                <md-button ui-sref="home" aria-label="Menü Startseite öffnen">
                                    Produktebene
                                </md-button>
                            </div>

                        </md-toolbar>

                        <h2 class="md-title" style="margin: 10px 0px 0px 10px">Einzahlungen nach ...</h2>

                        <div layout="row" layout-align="space-between center" layout-padding layout-fill
                             layout-sm="column">

                            <div layout="column" layout-align="space-between center" layout-fill>

                                <h2 class="md-title">Produktfelder</h2>

                                <div id="paymentsIn1"
                                     dc-chart="rowChart"
                                     dc-chart-group="1"
                                     dc-dimension="vm.prod1Dimension" dc-group="vm.prodIn1SumGroup"
                                     dc-options="vm.rowChartOptions"
                                     dc-post-setup-chart="vm.rowChartPostSetup">
                                </div>

                            </div>
                            <div layout="column" layout-align="space-between center" layout-fill>
                                <h2 class="md-title">Produktbereiche</h2>

                                <div id="paymentsIn2"
                                     dc-chart="rowChart"
                                     dc-chart-group="1"
                                     dc-dimension="vm.prod2Dimension" dc-group="vm.prodIn2SumGroup"
                                     dc-options="vm.rowChartOptions"
                                     dc-post-setup-chart="vm.rowChartPostSetup">
                                </div>

                            </div>
                            <div layout="column" layout-align="space-between center" layout-fill>
                                <h2 class="md-title">Produktgruppen</h2>

                                <div id="paymentsIn3"
                                     dc-chart="rowChart"
                                     dc-chart-group="1"
                                     dc-dimension="vm.prod3Dimension" dc-group="vm.prodIn3SumGroup"
                                     dc-options="vm.rowChartOptions"
                                     dc-post-setup-chart="vm.rowChartPostSetup">
                                </div>

                            </div>
                        </div>

                        <h2 class="md-title" style="margin: 10px 0px 0px 10px">Auszahlungen nach ...</h2>

                        <div layout="row" layout-align="space-between center" layout-padding layout-fill
                             layout-sm="column">

                            <div layout="column" layout-align="space-between center" layout-fill>

                                <h2 class="md-title">Produktfelder</h2>

                                <div id="paymentsOut1"
                                     dc-chart="rowChart"
                                     dc-chart-group="1"
                                     dc-dimension="vm.prod1Dimension" dc-group="vm.prodOut1SumGroup"
                                     dc-options="vm.rowChartOptions"
                                     dc-post-setup-chart="vm.rowChartPostSetup">
                                </div>

                            </div>
                            <div layout="column" layout-align="space-between center" layout-fill>
                                <h2 class="md-title">Produktbereiche</h2>

                                <div id="paymentsOut2"
                                     dc-chart="rowChart"
                                     dc-chart-group="1"
                                     dc-dimension="vm.prod2Dimension" dc-group="vm.prodOut2SumGroup"
                                     dc-options="vm.rowChartOptions"
                                     dc-post-setup-chart="vm.rowChartPostSetup">
                                </div>

                            </div>
                            <div layout="column" layout-align="space-between center" layout-fill>
                                <h2 class="md-title">Produktgruppen</h2>

                                <div id="paymentsOut3"
                                     dc-chart="rowChart"
                                     dc-chart-group="1"
                                     dc-dimension="vm.prod3Dimension" dc-group="vm.prodOut3SumGroup"
                                     dc-options="vm.rowChartOptions"
                                     dc-post-setup-chart="vm.rowChartPostSetup">
                                </div>

                            </div>
                        </div>

                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

    <br/>

    <div class="md-whiteframe-z1">
        <md-toolbar class="md-primary md-hue-3" layout="row" layout-align="space-between center">
            <div class="md-toolbar-tools">

                <md-button ui-sref="home" aria-label="Menü Startseite öffnen">
                    Finanzebene
                </md-button>

            </div>

        </md-toolbar>

        <div layout="row" layout-align="space-between center" layout-wrap layout-sm="column">
            <div flex>
                <div layout="row" layout-align="space-between center" layout-fill>
                    <div flex style="background-color: #ffff4f">
                        <div layout="column" layout-align="space-between center" layout-fill>
                            <h2 class="md-title">Einzahlungen in Mio €</h2>

                            <div dc-chart="barChart"
                                 dc-name="'Einzahlungen'"
                                 dc-chart-group="1"
                                 dc-width="300"
                                 dc-height="150"
                                 dc-margins="{top: 0, right: 0, bottom: 30, left: 50}"
                                 dc-x="d3.scale.ordinal().rangeRoundBands([0, 250], .05)"
                                 dc-x-units="dc.units.ordinal"
                                 dc-center-bar="false"
                                 dc-gap="1"
                                 dc.bar-padding="0.01"
                                 dc.outer-padding="0.05"
                                 dc-dimension="vm.yearDimension"
                                 dc-group="vm.paymentsInSumGroup"
                                 dc-elastic-x="true"
                                 dc-elastic-y="true"
                                 dc-center-bar="true">
                            </div>
                        </div>

                    </div>
                    <p></p>

                    <div flex="10">
                        <svg height="200" width="30" style="fill: #ffff4f">
                            <path d="M0 0 L0 200 L30 100 Z"/>
                        </svg>
                    </div>
                </div>
            </div>
            <!--<div flex>-->
            <!--<div layout="column" layout-align="center center" layout-margin layout-padding>-->
            <!--<h2 class="md-title">-->
            <!--Forderungen-->
            <!--</h2>-->

            <!--<h2 class="md-title">-->
            <!--Verbindlichkeiten-->
            <!--</h2>-->
            <!--</div>-->
            <!--</div>-->
            <div flex>
                <div layout="row" layout-align="space-between center" layout-fill>
                    <div flex style="background-color: #ffff4f">
                        <div layout="column" layout-align="space-between center" layout-fill>
                            <h2 class="md-title">Auszahlungen in Mio €</h2>

                            <div dc-chart="barChart"
                                 dc-name="'Auszahlungen'"
                                 dc-chart-group="1"
                                 dc-width="300"
                                 dc-height="150"
                                 dc-margins="{top: 0, right: 0, bottom: 30, left: 50}"
                                 dc-x="d3.scale.ordinal().rangeRoundBands([0, 250], .05)"
                                 dc-x-units="dc.units.ordinal"
                                 dc-center-bar="false"
                                 dc-gap="1"
                                 dc.bar-padding="0.01"
                                 dc.outer-padding="0.05"
                                 dc-dimension="vm.yearDimension"
                                 dc-group="vm.paymentsOutSumGroup"
                                 dc-elastic-x="true"
                                 dc-elastic-y="true"
                                 dc-center-bar="true">
                            </div>

                        </div>
                    </div>
                    <div flex="10">
                        <svg height="200" width="30" style="fill: #ffff4f">
                            <path d="M0 0 L0 200 L30 100 Z"/>
                        </svg>
                    </div>

                </div>
            </div>
        </div>

        <div layout="column" layout-align="space-between center" layout-padding>

            <div class="dc-chart" id="paymentRangeChart"
                 dc-chart="barChart"
                 dc-bar-padding="0.01"
                 dc-brush-on="false"
                 dc-chart-group="1"
                 dc-dimension="vm.paymentDimension"
                 dc-elastic-x="true"
                 dc-elastic-y="true"
                 dc-gap="1"
                 dc-group="vm.paymentGroup"
                 dc-height="220"
                 dc-margins="{top: 30, right: 25, bottom: 25, left: 60}"
                 dc-name="'paymentRangeChart'"
                 dc-options="vm.paymentRangeChartOptions"
                 dc-post-setup-chart="vm.setupRangeChart"
                 dc-render-horizontal-grid-lines="true"
                 dc-transition-duration="1000"
                 dc-width="1100"
                 dc-x="d3.scale.linear().domain([0, vm.paymentMax])"
                 dc-y-axis-label="'Summe pro Gruppe in T€'">

            </div>
            <div id="paymentRangeSelectChart"></div>

        </div>

    </div>
    <br/>

    <div class="md-whiteframe-z1">
        <md-toolbar class="md-primary md-hue-3" layout="row" layout-align="space-between center">
            <div class="md-toolbar-tools">

                <md-button ui-sref="home" aria-label="Menü Startseite öffnen">
                    Haushaltsansätze im Detail
                </md-button>

            </div>

        </md-toolbar>

        <table class="table table-hover dc-data-table dc-table-group layout-padding"
               id='dc-table-graph'
               dc-chart="dataTable"
               dc-name="'Haushaltsansätze'"
               dc-chart-group="1"
               dc-width="1000"
               dc-height="400"
               dc-dimension="vm.yearDimension"
               dc-group="vm.tableGroup"
               dc-size="20"
               dc-post-setup-chart="vm.tablePostSetupChart">

            <thead>
            <tr class='header'>
                <th flex>Jahr</th>
                <th flex>Produkt</th>
                <th flex>Konto</th>
                <th flex><span style="float:right; padding-right:5px">Betrag in €</span></th>
            </tr>
            </thead>

        </table>
    </div>
</div>