<div class="jumbotron">
    <h1>Das Kerngeschäft der Gemeinden ist das Gemeinwohl!</h1>

    <div class="lead">
        <p>
            Die Leistungen für das Gemeinwohl sichtbar und steuerbar zu machen, wäre die Aufgabe der Rechnungslegung für
            Gemeinden.
        </p>

        <p>
            Stattdessen haben sich die Gemeinden mit der Doppik eine Rechnungslegung auferlegt, die für
            gewinnorientierte Unternehmen konzipiert und optimiert wurde.
        </p>

        <p>
            Das Ziel dieses Open Source Projektes für Kommunen ist eine Software für die Haushaltsführung, die den
            Aufgaben und Bedürfnissen der Gemeinden gerecht wird.
        </p>
    </div>
</div>

<div class="row marketing">
    <h4>HTML5 Boilerplate</h4>

    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or
        sites.
    </p>

    <h4>Angular</h4>

    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>

    <p>Spectacular Test Runner for JavaScript.</p>
</div>
